Repository DexerBR/skia-builder, pull requests merged in 2025-08, with the labels that each got.

#30 Build all iOS artifacts, then create an artifact that contains all the iOS artifacts to better integrate with `kivy-ios` existing toolchain
  .github/workflows/build_skia_ios.yml
  .github/workflows/build_skia_iossimulator.yml
Labels: ci/build-binaries-ios

#31 Build all Android artifacts, then create an artifact that contains all the Android artifacts to better integrate with `python-for-android` existing toolchain
  .github/workflows/build_skia_android.yml
  .github/workflows/build_skia_ios.yml
  README.md
Labels: ci/build-binaries-android

#28 Refactor Skia graphic backends with a primary focus on OpenGL and enable core modules.
  skia_builder/config.py
Labels: ci/build-binaries-windows, ci/build-binaries-linux, ci/build-binaries-android, ci/build-binaries-ios, ci/build-binaries-ios-simulator, ci/build-binaries-macos
